*, ::before, *::after {
    box-sizing: border-box;
}

body{ 
    height: 100vh;
    background: #eeeeff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 25vmin);
    grid-template-rows: repeat(3, 25vmin);
    grid-gap: 1vmin;
}

.squares {
    padding: 20% 0;
    text-align: center;
    font-size: 55px;
    background: #eeeeff;
    color: black;    
    border: solid 1px black;
    border-radius: 5px;
}
