*, ::before, *::after {
    box-sizing: border-box;
}

body{ 
    height: 100vh;
    background: #eeeeff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.board {
    display: grid;
    grid-template-columns: repeat(3, 25vmin);
    grid-template-rows: repeat(3, 25vmin);
    grid-gap: 1vmin;
}

.squares {
    font-family: 'Lato';
    padding: 20% 0;
    text-align: center;
    font-size: 55px;
    background: #eeeeff;
    color: black;    
    border: solid 1px black;
    border-radius: 5px;
}

button {
    margin: 30px;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 7.5px 15px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    }
 button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
 button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }